@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: hsl(185, 75%, 39%);
  margin-top: 10%;
}

main {
  height: auto;
  background-color: white;
  border-radius: 10px;
}

.pattern {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.profile {
  border-radius: 50%;
  position: relative;
  top: -53px;
  margin-bottom: -30px;
  outline: 5px solid white;
}

h1 {
  display: inline;
  color: hsl(229, 23%, 23%); 
  font-size: 1.1em;
  font-weight: 700;
  margin-right: 5px;
}

span {
  color: hsl(227, 10%, 46%);
  font-size: 1.1em;
}

article > p {
  padding-top: 5px;
  padding-bottom: 20px;
  color: hsl(0, 0%, 59%);
  font-size: 0.9em;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  line-height: 1.2;
}

.data h3 {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  font-weight: 700;
}

.data p {
  color: hsl(0, 0%, 59%);
  font-size: 10px;
  font-weight: 700;
}

@media screen and (max-width: 375px) {
  main {
    width: 90%;
    height: auto;
  }
}